/* 외부 폰트 적용 */
@font-face {
  font-family: "YESMyoungjo-Regular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_13@1.0/YESMyoungjo-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

/* 실제 웹 페이지는 기본 여백이 설정되어있기 때문에 아래 스타일을 부여하여 여백을 없앤다. */
body {
  margin: 0;
  padding: 0;
  font-family: YESMyoungjo-Regular;
}

.header,
.footer {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
}

.main {
  display: flex;
}

.sidebar {
  width: 25%;
  background-color: #0f6e5a;
  padding: 20px;
}

.content {
  background-color: gold;
  padding: 20px;
  flex: 1;
}
