/* 1. 제목(hyeonji's timatable) - 가운데 정렬 후 바탕색 칠하기 */
h1 {
  text-align: center;
  background-color: aquamarine;
}
table,
th,
td {
  width: 70%;
  border: 2px solid black;
  border-collapse: collapse;
  padding: 20px;
  text-align: center;
}
.time {
  background-color: bisque;
}

thead {
  background-color: azure;
}
th,
td {
  font-size: 20px;
  font-style: italic;
}
